/* src/styles/home.css */
.home {
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.intro h1 {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 1rem 0;
}

.highlight {
    color: var(--primary-color);
}

.cta-buttons {
    margin-top: 2rem;
}

.quick-links .cta {
    padding: 0.6rem 1.2rem; /* Smaller padding for smaller buttons */
    font-size: 0.9rem; /* Slightly smaller font size */
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}

.quick-links .cta:hover {
    background-color: var(--accent-color);
    color: var(--background-color);
}

/* Layout for the content section */
.content-section {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
    gap: 2rem;
}

/* Skills section styling */
.skills-section, .projects-section {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.skills-section h2, .projects-section h2 {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skills-icons img {
    width: 40px;
    height: 40px;
}

/* Project card styling within recent projects */
.project-card {
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-card h3 {
    color: var(--text-color);
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.project-card p {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.project-link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    color: var(--secondary-color);
}
