/* src/styles/blog.css */

.blog-page {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.blog-posts {
    flex: 3;
}

.blog-posts h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.blog-sidebar {
    flex: 1;
    position: sticky;
    top: 2rem;
    background-color: #1678870f;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-sidebar input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 5px;
}


.popular-blogs h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.popular-blogs ul {
    list-style: none;
    padding: 0;
}

.popular-blogs li {
    margin-bottom: 0.5rem;
}

.popular-blogs a {
    color: var(--accent-color);
    text-decoration: none;
}

.popular-blogs a:hover {
    text-decoration: underline;
}
